﻿@import '~bootstrap/scss/functions.scss';


$primary: darken(#428bca, 6.5%);
//$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
//$danger: #d9534f;

/* overriding base font size for bootstrap (usually 16px) */
$font-size-base: 1.3rem !default;

$input-padding-y: .8rem !default;
$input-btn-padding-y: $input-padding-y;

/** needs to be AFTER variables as the originals were marked with !default
    https://medium.com/@bajena3/a-story-about-overriding-scss-variables-and-the-default-keyword-eace1de34631
*/
@import '~bootstrap/scss/variables.scss';

@import "~bootstrap/scss/bootstrap";

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}