<script>
    export default {
        name: 'PassPlayForm',
        props: {
            passer: {
                type: Object,
                required: true
            },
            receiver: {
                type: Object,
                required: true
            },
            tacklers: {
                type: Array,
                required: true
            },
            disableButtons: {
                type: Boolean,
                required: false,
                default: false
            }
        },
        computed: {
            passerDisplay() {
                if (typeof this.passer.name == 'undefined')
                    return 'NOT SELECTED'

                return `#${this.passer.number} ${this.passer.name}`;

            },
            receiverDisplay() {
                if (typeof this.receiver.name == 'undefined')
                    return 'NOT SELECTED'

                return `#${this.receiver.number} ${this.receiver.name}`;

            },
            tacklerDisplay() {
                if (this.tacklers.length == 0)
                    return 'NOT SELECTED'

                let tacklers = []
                this.tacklers.forEach(t => tacklers.push(`#${t.number} ${t.name}`));

                return tacklers.join(', ');
            }
        },
    }
</script>

<template>
    <div>
        <div class="mb-3 row">
            <div class="offset-sm-2 col-sm-4 text-end">
                <button class="btn btn-outline-secondary" 
                        @click.stop.prevent="$emit('select', 'passer')"
                        :disabled="disableButtons">Passer: <strong>{{ passerDisplay }}</strong></button>
            </div>
            <div class="col text-start">
                <button class="btn btn-outline-secondary" 
                        @click.stop.prevent="$emit('select', 'receiver')"
                        :disabled="disableButtons">Receiver: <strong>{{ receiverDisplay }}</strong></button>
            </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-outline-secondary" 
                    @click.stop.prevent="$emit('select', 'tacklers')"
                    :disabled="disableButtons">Tackler(s): <strong>{{ tacklerDisplay }}</strong></button>
        </div>
        
    </div>
</template>