<script>
    export default {
        name: 'PlaySummary',
        props: {
            previousDown: {
                type: Object,
                required: true
            },
            down: {
                type: Object,
                required: true
            },

            yardLine: {
                type: String
            },
            tacklers: {
                type: Array,
                required: true
            }
        },
        data() {
            return {

            }
        },
        created() {

        },
        computed: {

        },
        methods: {

        }
    }
</script>

<template>
    <div>
    </div>
</template>