<script>
    export default {
        name: 'PuntPlayForm',
        props: {
            punter: {
                type: Object,
                required: true
            },
            returner: {
                type: Object,
                required: true
            },
            tacklers: {
                type: Array,
                required: true
            },
            disableButtons: {
                type: Boolean,
                required: false,
                default: false
            }
        },
        computed: {
            punterDisplay() {
                if (typeof this.punter.name == 'undefined')
                    return 'NOT SELECTED'

                return `#${this.punter.number} ${this.punter.name}`;

            },
            returnerDisplay() {
                if (typeof this.returner.name == 'undefined')
                    return 'NOT SELECTED'

                return `#${this.returner.number} ${this.returner.name}`;

            },
            tacklerDisplay() {
                if (this.tacklers.length == 0)
                    return 'NOT SELECTED'

                let tacklers = []
                this.tacklers.forEach(t => tacklers.push(`#${t.number} ${t.name}`));

                return tacklers.join(',');
            }
        },
    }
</script>

<template>
    <div>
        <div class="mb-3 row">
            <div class="offset-sm-2 col-sm-4 text-end">
                <button class="btn btn-outline-secondary" 
                        @click.stop.prevent="$emit('select', 'punter')"
                        :disabled="disableButtons">Punter: <strong>{{ punterDisplay }}</strong></button>
            </div>
            <div class="col text-start">
                <button class="btn btn-outline-secondary" 
                        @click.stop.prevent="$emit('select', 'returner')"
                        :disabled="disableButtons">Returner: <strong>{{ returnerDisplay }}</strong></button>
            </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-outline-secondary" 
                    @click.stop.prevent="$emit('select', 'tacklers')"
                    :disabled="disableButtons">Tackler(s): <strong>{{ tacklerDisplay }}</strong></button>
        </div>
    </div>
</template>