<script>
    export default {
        name: 'RunPlayForm',
        props: {
            runner: {
                type: Object,
                required: true
            },
            tacklers: {
                type: Array,
                required: true
            },
            disableButtons: {
                type: Boolean,
                required: false,
                default: false
            }
        },
        computed: {
            runnerDisplay() {
                if (typeof this.runner.name == 'undefined')
                    return 'NOT SELECTED'

                return `#${this.runner.number} ${this.runner.name}`;

            },
            tacklerDisplay() {
                if (this.tacklers.length == 0)
                    return 'NOT SELECTED'

                let tacklers = []
                this.tacklers.forEach(t => tacklers.push(`#${t.number} ${t.name}`));

                return tacklers.join(',');
            }
        },
    }
</script>

<template>
    <div>
        <div class="mb-3">
            <button class="btn btn-outline-secondary" 
                    @click.stop.prevent="$emit('select', 'runner')"
                    :disabled="disableButtons">Runner: <strong>{{ runnerDisplay }}</strong></button>
        </div>
        <div class="mb-3">
            <button class="btn btn-outline-secondary" 
                    @click.stop.prevent="$emit('select', 'tacklers')"
                    :disabled="disableButtons">Tackler(s): <strong>{{ tacklerDisplay }}</strong></button>
        </div>
        
        
    </div>
</template>