<script>
    import PlayerService from '../services/PlayerService';

    var playerService = new PlayerService();

    export default {
        name: 'Test',
        props: {

        },
        data() {
            return {
                players: []
            }
        },
        created() {
            
        },
        computed: {

        },
        methods: {
            clearData() {
                this.players.splice(0);
            },
            loadRData() {
                playerService.getRV()
                    .then(response => {
                        this.players = response.data;
                    });
            },
            loadEData() {
                playerService.getEdgewood()
                    .then(response => {
                        this.players = response.data;
                    });
            }
        }
    }
</script>

<template>
    <div>
        <button @click.stop="loadRData">Load RV Data</button>
        <button @click.stop="loadEData">Load Edgewood Data</button>
        <button @click.stop="clearData">Clear Data</button>
        <ul>
            <li v-for="(player, index) in players"
                :key="index">#{{ player.number}} - {{ player.name }}</li>
        </ul>
    </div>
</template>