<script>
    import PlayerButton from './PlayerButton.vue';

    export default {
        name: 'PlayerSelector',
        props: {
            players: {
                type: Array,
                required: true
            },
            value: {
                type: Array,
                required: false,
                default() {
                    return [];
                }
            }
        },
        components: {
            PlayerButton
        },
        data() {
            return {
                recent: []
            }
        },
        created() {

        },
        computed: {
            showRecentPlayers() {
                return this.recent.length > 0;
            },
            recentPlayers() {
                const vm = this;
                return vm.players.filter(p => vm.recent.includes(p.id));
            },
            restOfPlayers() {
                const vm = this;
                return vm.players.filter(p => !vm.recent.includes(p.id));
            },
            selected: {
                get() {
                    return this.value.map(p => p.id);
                },
                set(value) {
                    const vm = this;
                    // put any ids that are in selected and not in recent into recent
                    vm.value.forEach(s => {
                        if (!vm.recent.includes(s))
                            vm.recent.push(s);
                    })

                    this.$emit('input', vm.players.filter(p => value.includes(p.id)));
                }
            }

        },
        methods: {
            onClearPlayer() {
                this.$emit('clear');
            },
            onCancel() {
                this.$emit('cancel');
            },
        }


    }
</script>

<template>
    <div>
        <div class="player-button-list"
             v-show="showRecentPlayers">
            <player-button v-for="player in recentPlayers"
                           :player="player"
                           :key="player.id"
                           cssClass="recent"
                           v-model="selected"></player-button>
        </div>
        <hr v-show="showRecentPlayers" />
        <div class="player-button-list">
            <player-button v-for="player in restOfPlayers"
                           :player="player"
                           :key="player.id"
                           v-model="selected"></player-button>
        </div>

    </div>

</template>
<style lang="scss">
    .player-button-list {
        display: flex;
        flex-wrap: wrap;
        /*justify-content: space-between;*/
    }
    .player-button.recent button {
        font-size:130%;
    }
    .player-button button {
        margin: .2rem .3rem;
    }
</style>