<script>
    export default {
        name: 'PlayerButton',
        props: {
            player: {
                type: Object,
                required: true
            },
            cssClass: {
                type: String,
                required: false,
                default: ''
            },
            value: {
                type: Array,
                required: true
            }
        },
        computed: {
            id() {
                return `player_button_${this.player.id}${Math.floor(Math.random() * 5000000)}`;
            },
            checked() {
                return this.value.findIndex(i => i == this.player.id) != -1
            }
        },
        methods: {
            onChange(e) {
                let currentValue = [...this.value]
                if (e.target.checked) {
                    currentValue.push(parseInt(e.target.value))
                } else {
                    //console.log(currentValue);
                    console.log(e.target.value);
                    currentValue = currentValue.filter(item => {
                        return item != e.target.value
                    })
                }
                this.$emit('input', currentValue);
            },
        }
    }
</script>

<template>
    <div class="player-button"
         :class="cssClass">
        <input type="checkbox" 
               class="btn-check" 
               :id="id" 
               autocomplete="off"
               :value="player.id"
               :checked="checked"
               @change="onChange">
        <label class="btn btn-outline-secondary" :for="id">#{{ player.number }}</label>
    </div>
</template>
<style lang="scss">
    .player-button button {
        padding: .75rem;
    }
</style>