<template>
    <div>

        <div class="mb-3">


            <input type="radio" class="btn-check" id="play" name="plays" value="pass" v-model="play" checked>
            <label class="btn btn-outline-secondary me-3" for="play">Pass</label>
            <input type="radio" class="btn-check" id="run" name="plays" value="run" v-model="play">
            <label class="btn btn-outline-secondary me-3" for="run">Run</label>
            <input type="radio" class="btn-check" id="punt" name="plays" value="punt" v-model="play">
            <label class="btn btn-outline-secondary me-3" for="punt">Punt</label>
            <input type="radio" class="btn-check" id="kickoff" name="plays" value="kickoff" v-model="play">
            <label class="btn btn-outline-secondary me-3" for="kickoff">Kickoff</label>
            <button class="btn btn-outline-secondary" @click.stop.prevent="clearClick"><font-awesome-icon :icon="['far', 'backspace']" /></button>
        </div>
        <run-play-form v-show="showRunForm"
                       :runner="offensePlayer2"
                       :tacklers="tacklers"
                       @select="onPlaySelect"
                       :disable-buttons="disableButtons"></run-play-form>
        <pass-play-form v-show="showPassForm"
                        :passer="offensePlayer1"
                        :tacklers="tacklers"
                        :receiver="offensePlayer2"
                        @select="onPlaySelect"
                        :disable-buttons="disableButtons"></pass-play-form>
        <kickoff-play-form v-show="showKickoffForm"
                           :kicker="offensePlayer1"
                           :returner="offensePlayer2"
                           :tacklers="tacklers"
                           :disable-buttons="disableButtons"></kickoff-play-form>
        <punt-play-form v-show="showPuntForm"
                        :punter="offensePlayer1"
                        :returner="offensePlayer2"
                        :tacklers="tacklers"
                        :disable-buttons="disableButtons"></punt-play-form>

        <vue-modal v-show="playerSelectorShown">
            <player-selector :players="homePlayers"
                             v-model="playersSelected"
                             key="home"
                             v-show="homeTeamSelectorShown"></player-selector>

            <!-- use 2 selectors in order to save "recent" on per-team basis-->
            <player-selector :players="visitingPlayers"
                             v-model="playersSelected"
                             key="visiting"
                             v-show="visitingTeamSelectorShown"></player-selector>

            <button class="btn btn-primary"
                    @click.stop.prevent="onPlayerDone">
                <font-awesome-icon icon="check" /> Done
            </button>
            <button class="btn btn-danger"
                    @click.stop.prevent="onPlayerClear">
                <font-awesome-icon :icon="['far', 'user-times']" /> Clear
            </button>
            <button class="btn btn-outline-secondary"
                    @click.stop.prevent="onPlayerCancel">
                Cancel
            </button>

        </vue-modal>
    </div>
</template>
<script>
    import PlayerSelector from './PlayerSelector.vue';
    import RunPlayForm from './RunPlayForm.vue';
    import PassPlayForm from './PassPlayForm.vue';
    import KickoffPlayForm from './KickoffPlayForm.vue';
    import PuntPlayForm from './PuntPlayForm.vue';
    import { VueModal } from '@aae/vue-modal';
    import { mapState } from 'vuex';
    import * as mutationTypes from '@/store/mutation_types';
    export default {
        name: 'PlaySelect',
        components: {
            RunPlayForm,
            PassPlayForm,
            KickoffPlayForm,
            PuntPlayForm,
            VueModal,
            PlayerSelector,
        },
        props: {
            disableButtons: {
                type: Boolean,
                required: false,
                default: false
            }
        },
        data() {
            return {
                play: '',
                playerEditing: ''
            }
        },
        created() {

        },
        computed: {
            showPassForm() {
                return this.play == 'pass';
            },
            showPuntForm() {
                return this.play == 'punt';
            },
            showKickoffForm() {
                return this.play == 'kickoff';
            },
            showRunForm() {
                return this.play == 'run';
            },
            
            ...mapState({
                homeAbbrev: state => state.homeTeam.abbrev,
                visitingAbbrev: state => state.visitingTeam.abbrev,
                workingPlay: state => state.workingPlay,
                previousPlay: state => state.previousPlay,
                teamPossession: state => state.teamPossession,
                homePlayers: state => state.homePlayers,
                visitingPlayers: state => state.visitingPlayers
            }),
            offensePlayer1: {
                get() {
                    return this.$store.state.workingPlay.offensePlayer1;
                },
                set(value) {
                    this.$store.commit(mutationTypes.UPDATE_OFFENSE_PLAYER_1, value);
                }
            },
            offensePlayer2: {
                get() {
                    return this.$store.state.workingPlay.offensePlayer2;
                },
                set(value) {
                    this.$store.commit(mutationTypes.UPDATE_OFFENSE_PLAYER_2, value);
                }
            },
            tacklers: {
                get() {
                    return this.$store.state.workingPlay.tacklers;
                },
                set(value) {
                    this.$store.commit(mutationTypes.UPDATE_TACKLERS, value);
                }
            },
            playerSelectorShown() {
                return this.playerEditing != ''
            },
            /**
             * returns whether the players are home or visiting for the player being edited
             * */
            playerSelectType() {
                const offense = this.teamPossession.abbrev == this.homeAbbrev ? 'home' : 'visiting';
                const defense = this.teamPossession.abbrev == this.homeAbbrev ? 'visiting' : 'home';
                switch (this.playerEditing) {
                    case 'passer':
                    case 'kicker':
                    case 'punter':
                    case 'receiver':
                    case 'runner':
                        return offense;
                    case 'returner':
                        return defense;
                    case 'tacklers':
                        if (this.play == 'punt' || this.play == 'kickoff')
                            return offense;
                        else
                            return defense
                    default:
                        return offense;

                }
            },
            homeTeamSelectorShown() {
                return this.playerSelectType == 'home'
            },
            visitingTeamSelectorShown() {
                return this.playerSelectType == 'visiting'
            },
            playersSelected: {
                get() {
                    switch (this.playerEditing) {
                        case 'passer':
                        case 'kicker':
                        case 'punter':
                            return typeof this.offensePlayer1.id == 'undefined' ? [] : [this.offensePlayer1];
                        case 'receiver':
                        case 'runner':
                        case 'returner':
                            return typeof this.offensePlayer2.id == 'undefined' ? [] : [this.offensePlayer2];
                        case 'tacklers':
                            return this.tacklers;
                        default:
                            return [];

                    }
                },
                set(value) {
                    if (this.playerEditing != 'tacklers')
                        this.playerEditing = '';
                    
                    this.updatePlayer(value);
                }
            }
        },
        methods: {
            clearClick() {
                this.clearPlay();
            },
            clearPlay() {
                this.play = '';
            },
            onPlaySelect(position) {
                this.playerEditing = position;

            },
            updatePlayer(players = []) {
                

                // tacklers are special, they need the array
                if (this.playerEditing == 'tacklers') {
                    this.tacklers = [...players];
                    return;
                }
                    
                
                // everyone else is a single - 
                const player = players.length == 0 ? {} : players[0];


                console.log(player);

                switch (this.playerEditing) {
                    case 'passer':
                    case 'kicker':
                    case 'punter':
                        this.offensePlayer1 = player;
                        break;
                    case 'receiver':
                    case 'runner':
                    case 'returner':
                        this.offensePlayer2 = player;
                        break;

                }
            },
            onPlayerCancel() {
                this.playerEditing = '';
            },
            onPlayerClear() {
                this.updatePlayer();
                this.playerEditing = '';
            },
            onPlayerDone() {
                this.playerEditing = '';
            }
        }
    }
</script>

